{% extends "layouts/auth_base.html" %}
{% block title %}Cuenta inactiva{% endblock %}

{% block content %}
<h1 class="text-xl font-semibold text-white text-center mb-6">Cuenta inactiva</h1>
<p class="text-sm text-gray-400 text-center ">Tu cuenta ha sido desactivada.</p>
<p class="text-sm text-gray-400 text-center ">Si crees que esto es un error, contacta al administrador del sitio.</p>

<div class="text-center mt-6 w-full text-center text-sm text-brand-600 hover:text-brand-700 border border-brand-600 rounded-lg py-2 transition-colors">
    <a href="{% url 'account_login' %}" class="text-sm text-brand-600 hover:text-brand-700">Volver a iniciar sesión</a>
</div>
{% endblock %}