@import "tailwindcss";

@theme {
  --color-brand-50: #0D0D26;
  --color-brand-100: #dbeafe;
  --color-brand-500: #3b82f6;
  --color-brand-600: #2563eb;
  --color-brand-700: #1d4ed8;
  --color-brand-900: #1e3a8a;

  --font-sans: "Inter", system-ui, sans-serif;
}